.container {
    width: 1150px;
    margin: 0 auto;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}

.navbar {
    display: flex;
    gap: 30px;
}


.navbar li a {
    font: 600 14px "Inter", sans-serif;
    padding-bottom: 10px;
}
.navbar li a:hover {
    border-bottom: 2px solid #4B9E8D;
}
.right-side {
    display: flex;
    gap: 20px;
}

.logo a {
    display: flex;
    align-items: center;
    gap: 5px;
}

.logo h1 {
    font: 400 15px "Kdam Thmor Pro", sans-serif;
    color: #4B9E8D;
}

.language,
.announcement {
    position: relative;
}

.language-dropdown,
.announcement-dropdown {
    position: absolute;
    top: 30px;
    left: 3px;
    background: #fff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;
    padding: 10px 20px;
    z-index: 999;
}

.language-dropdown li,
.announcement-dropdown li {
    font: 500 16px "Inter", sans-serif;
    color: #00000080;
    line-height: 25px;
}

.language button,
.announcement button {
    display: flex;
    align-items: center;
    gap: 5px;
    font: 600 16px "Inter", sans-serif;
    color: #00000080;
}