.search {
    display: flex;
    align-items: center;
    border: 1px solid #6A6A6A;
    border-radius: 40px;
    padding: 10px 10px 10px 20px;
}

.search-all {
    display: flex;
    justify-content: center;
    margin: 40px 0;
}

.pwp:first-child,
.pwp:nth-child(2) {
    border-right: 1px solid #6A6A6A;
}

.pwp {
    padding: 10px 30px 10px 20px;
}
.pwp input {
    outline: none;
}
.pwp:hover {
    background-color: #f0f0f0;
    border-radius: 30px;
    border: none;
}

.search h3 {
    font: 500 13px "Inter", sans-serif;
}

.search p {
    font: 500 14px "Inter", sans-serif;
    color: #6A6A6A;

}