.search {
    display: flex;
    align-items: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 40px;
    padding-right: 20px;
}
.search-all {
    display: flex;
    justify-content: center;
    margin: 40px 0;
}

.pwp-all:nth-child(1) .pwp,
.pwp-all:nth-child(2) .pwp {
  border-right: 1px solid #6A6A6A; 
}

.pwp-all {
    padding: 20px 0 20px 40px;
}

.pwp input {
    outline: none;
}

.pwp-all:hover {
    background-color: #f0f0f0;
    border-radius: 100px;
}
.search:hover .pwp {
  border-right: none;
}
.search-ikon{
    cursor: pointer;
    margin-left: 20px;
}
.search h3 {
    font: 500 13px "Inter", sans-serif;
}

.search p {
    font: 500 14px "Inter", sans-serif;
    color: #6A6A6A;

}